:root {
    --yellow-color: #fed136;
    --nav-font: "MontserratRegular", sans-serif;
    --nav-color: #222222;
    --title-font: "MontserratBold", sans-serif;
    --sub-font: "DroidSerif-Italic", sans-serif;
    --sub-color: #777777;
    --descr-font: "RobotoSlabRegular", sans-serif;
   
}