@media screen and (max-width: 767px) {
    .container {
        background-image: url(../img/banners/banner320.png);
    }

    .banner {
        width: 320px;
        min-height: 540px;
        margin: 0 auto;
        padding: 20px 10px 0 10px;
    }
    
    .header {
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-descr {
        font-size: 18px;
    }

    .enter-list {
        justify-content: center;
        margin-bottom: 128px;
    }

    .logo-link {
        margin-bottom: 35px;
    }

    .banner-title {
        margin-bottom: 15px;
    }

    .banner-descr {
        margin-bottom: 18px;
    }

    .partners-section {
        width: 320px;
        margin: 0 auto;
        padding: 68px 0px 58px 0px;
    }

    .partners-list-item:not(:last-child) {
        margin-bottom: 28px;
        width: 220px;
    }

    .partners-list {
        justify-content: center;
        margin-bottom: 28px;
    }

    .partners-title {
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 939px){
    .container {
        background-image: url(../img/banners/banner768.png);
    }

    .banner {
        width: 768px;
        min-height: 700px;
        margin: 0 auto;
        padding: 38px 50px 0 50px;
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 148px;
    }

    .banner-section{
        max-width: 510px;
        margin: 0 auto;
    }

    .banner-title {
        margin-bottom: 35px;
    }

    .banner-descr {
        margin-bottom: 35px;
    }

    .banner-title {
        font-size: 52px;
    }

    .banner-descr {
        font-size: 24px;
    }

    .partners-section {
        padding: 72px 0px 40px 0px;
        width: 492px;
        margin: 0 auto;
    }

    .partners-list-item {
        width: 236px;
    }

    .partners-list-item:nth-child(-n+2){
        margin-bottom: 58px;
    }

    .partners-list {
        justify-content: space-between;
        margin-bottom: 38px;
    }

    .partners-title {
        margin-bottom: 35px;
    }

}

@media screen and (min-width: 940px) {
    .container {
        background-image: url(../img/banners/banner1440.png);
    }

    .banner {
        width: 940px;
        min-height: 700px;
        padding-top: 38px;
        margin: 0 auto;
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 148px;
    }

    .banner-section{
        max-width: 510px;
        margin: 0 auto;
    }

    .banner-title {
        margin-bottom: 35px;
    }

    .banner-descr {
        margin-bottom: 35px;
    }

    .banner-title {
        font-size: 52px;
    }

    .banner-descr {
        font-size: 24px;
    }

    .partners-section {
        padding: 68px 0px 74px 0px;
        width: 940px;
        margin: 0 auto;
    }

    .partners-list-item {
        width: 220px;
    }

    .partners-list {
        justify-content: space-between;
        margin-bottom: 38px;
    }

    .partners-title {
        margin-bottom: 35px;
    }
}