@import "vars.css";
@import "media.css";
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "MontserratBold";
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin/montserrat-v12-latin-800.woff') format('woff');
    /* Modern Browsers */
}

/* roboto-300 - latin */

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/roboto-v18-latin/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
}

.enter-list-item:first-child {
    margin-right: 40px;
}

.enter-link {
    font-size: 14px;
    font-family: var(--title-font);
    color: var(--white-color);
}

.logo-link {
    font-size: 20px;
    font-family: var(--title-font);
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}

.banner-title {
    font-size: 30px;
    font-family: var(--title-font);
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}

.banner-descr {
    font-size: 18px;
    font-family: var(--descr-font);
    color: var(--white-color);
    text-align: center;
}

.banner-button {
    width: 280px;
    padding: 13px 0;
    font-size: 14px;
    font-family: var(--title-font);
    color: var(--white-color);
    border-radius: 20px;
    border: none;
    background-color:var(--button-color);
    
}

.partners-title {
    font-size: 22px;
    font-family: var(--title-font);
    color: var(--text-color);
    text-align: center;
}

.name {
    font-size: 14px;
    font-family: var(--title-font);
    color: var(--text-color);
    text-align: center;
}

.about {
    font-size: 14px;
    font-family: var(--descr-font);
    color: var(--about-color);
    text-align: center;
}

.other-partners {
    font-size: 14px;
    font-family: var(--title-font);
    color: var(--button-color);
    border: 2px solid var(--button-color); 
    border-radius: 20px;
    width: 280px;
    padding: 13px 0;
}