:root {
    --white-color: #ffffff;
    --title-font: "MontserratBold", sans-serif;
    --descr-font: "RobotoLight", sans-serif;
    --text-color: #333333;
    --about-color: #666666;
    --button-color: #ff4e50;
}