@import "vars.css";
html { 
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.header-wrapper {
    width: 1110px;
    margin: 0 auto;
}

.header {
    padding-top: 35px;
    padding-bottom: 30px;
}

.logo {
    margin: 0;
    float: left;
}

.logo-link{
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-family: var(--logo-font);
    color: var(--logo-color);
    text-transform: uppercase;
}

.logo::first-letter {
    font-weight: bold;
    color: var(--aqua-color);
}

.nav-menu {
    margin-top: 8px;
    float: right;
}

.nav-list-item {
    float: left;
}

.nav-list-item:not(:last-child) {
    margin-right: 30px;
}

.nav-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: var(--nav-link-font);
    color: var(--nav-link-color);
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--aqua-color);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-wrapper {
    background-color: var(--main-background-color);
}


.slides-item{
    position: relative;
}

.slides-image{
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.slides-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--blackout-color);
}

.slider-buttons{
    width: 1110px;
    margin: 0 auto;
    position: relative;
}

.slider-button {
    width: 104px;
    height: 104px;
    background-color: var(--banner-button-color);
    border: none;
    position: absolute;
    top: 226px;
    z-index: 1;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 30px;
    color: var(--white-color);
}

.left-button{
    left: 0;
}

.right-button{
    right: 0;
}

.slider-button:hover {
    background-color: var(--aqua-color);
    top:230px;
}

.slides-description{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 208px;
}

.slides-title {
    font-size: 60px;
    font-family: var(--logo-font);
    color: var(--white-color);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.slides-subtitle {
    font-size: 24px;
    font-family: var(--logo-font);
    color: var(--white-color);
    text-transform: uppercase;
}

.new-collection-section {
    width: 1110px;
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 100px;
}

.collection-title {
    font-size: 48px;
    font-family: var(--logo-font);
    color: var(--title-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 115px;
}

.collection-title::after {
    content: "";
    display: block;
    width: 164px;
    border: 3px solid var(--aqua-color);
    margin: 25px auto 0 auto;
}

.collection-list-item {
    float: left;
    position: relative;
}

.collection-list-item:not(:last-child) {
    margin-right: 30px;
}

.product-name {
    float: left;
    width: 201px;
    height: 40px;
    font-size: 18px;
    font-family: var(--product-font);
    color: var(--white-color);
    text-transform: uppercase;
    line-height: 40px;
    background-color: var(--name-back-color);
    padding-left: 15px;
}

.product-price {
    float: right;
    width: 54px;
    height: 40px;
    font-size: 18px;
    font-family: var(--product-font);
    color: var(--white-color);
    text-transform: uppercase;
    line-height: 40px;
    background-color: var(--price-back-color);
    text-align: center;
}

.overlay {
    position: absolute;
    width: 235px;
    height: 262px;
    top: 10px;
    left: 10px;
    background-color: var(--blackout-color);
    opacity: 0;
}

.collection-list-item:hover .product-name, 
.collection-list-item:focus .product-name {     
    background-color: var(--aqua-color);
}

.collection-list-item:hover .product-price,
.collection-list-item:focus .product-price {
    background-color: var(--aqua-color);
}

.collection-list-item:hover .overlay,
.collection-list-item:focus .overlay {
    opacity: 1;
}

.fa-heart, .fa-random, .fa-clock, .fa-shopping-cart {
    font-size: 18px;
    color: var(--white-color);
}

.fa-shopping-cart {
    letter-spacing: 20px;
}

.product-link {
    display: block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border: 1px solid var(--white-color);
    text-align: center;
    padding-top: 15px;
    float: left;
    margin: 0 8px 8px 0;
}

.product-link:last-child {
    margin: 0 0 8px 0;
}

.product-link-cart {
    display: block;
    text-decoration: none;
    width: 166px;
    height: 50px;
    border: 1px solid var(--white-color);
    text-align: center;
    padding-top: 15px;
    float: left;
    color: var(--white-color);
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--nav-link-font);
    background-color: var(--name-back-color);
}

.overlay-buttons {
    position: absolute;
    top: 80px;
    left: 35px;
}

.product-link:hover,
.product-link:focus {
    background-color: var(--aqua-color)
}

.product-link-cart:hover,
.product-link-cart:focus {
    background-color: var(--aqua-color)
}

.footer-wrapper {
    background-color: var(--name-back-color);
    height: 88px;
    position: relative;
}

.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.footer-text {
    font-size: 16px;
    font-family: var(--nav-link-font);
    color: var(--almost-white-color);
}

.footer-link {
    text-decoration: none;
    font-size: 16px;
    font-family: var(--nav-link-font);
    color: var(--aqua-color);
}