* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.header {
    padding-top: 35px;
    margin-bottom: 95px;
}

.logo {
    margin: 0;
    float: left;
    font-size: 30px;
    font-family: "Roboto Light";
    color: rgb(85, 82, 82);
    text-transform: uppercase;
}

.logo::first-letter {
    font-size: 30px;
    font-family: "Roboto Black";
    color: rgb(26, 188, 156);
    text-transform: uppercase;
}

.nav-list {
    float: right;
}

.nav-list-item {
    list-style: none;
    float: left;
    margin-right: 30px;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(15, 1, 1);
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link:hover {
    color: rgb(26, 188, 156);
}

.section-title {
    text-align: center;
    font-size: 48px;
    font-family: "Roboto Black";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    margin-bottom: 130px;
}

.section-title::after {
    content: "";
    display: block;
    width: 164px;
    border-bottom: 7px solid;
    border-color: rgb(26, 188, 156);
    margin: 0 auto;
    margin-top: 40px;
}

.product-list-item {
    list-style: none;
    float: left;
    margin: 0 30px 30px 0;
    font-size: 0px;
    background-color: rgb(233, 240, 253)
}

.product-list-item:nth-child(4n) {
    margin-right: 0;
}

.product-list-item:nth-child(n+5) {
    margin-bottom: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.product-name {
    float: left;
    width: 201px;
    height: 40px;
    font-size: 18px;
    font-family: "Roboto Black";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 40px;
    background-color: rgb(50, 50, 50);
    padding-left: 15px;
}

.product-price {
    float: right;
    width: 54px;
    height: 40px;
    font-size: 18px;
    font-family: "Roboto Black";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 40px;
    background-color: rgb(140, 140, 140);
    text-align: center;
}

.product-section {
    margin-bottom: 100px;
}

.news-list-item {
    float: left;
    list-style: none;
    width: 350px;
    margin-right: 30px;
}

.news-list-item:last-child {
    margin-right: 0;
}

.news-text {
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(85, 82, 82);
    line-height: 26px;
}

.news-text::first-line {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(85, 82, 82);
    font-weight: 700; 
    line-height: 26px;
    border: 5px solid rgb(26, 188, 156);
      
}

.news-section {
    padding-bottom: 80px;

}