@media screen and (max-width: 767px) {
    .wrapper {
        background-image: url(../img/banners/banner320.png);
    }
    .container {
        width: 320px;
    }
    .banner {
        min-height: 540px;
        padding-top: 20px;
    }
    .header {
        flex-direction: column-reverse;
        margin-bottom: 35px;
    }
    .banner-title {
        font-size: 29px;
        margin-bottom: 15px;
    }
    .banner-descr {
        font-size: 18px;
    }
    .enter-list {
        justify-content: center;
        margin-bottom: 118px;
    }
    .banner-descr {
        margin-bottom: 18px;
    }
    .partners-section {
        padding: 68px 0px 58px 0px;
    }

    .partners-list-item {
        max-width: 220px;
        margin: 0 auto;
    }

    .partners-list-item:not(:last-child) {
        margin-bottom: 28px;
    }
    .partners-list {
        margin-bottom: 28px;
    }
    .partners-title {
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .wrapper {
        background-image: url(../img/banners/banner768.png);
    }

    .container {
        width: 768px;
    }

    .header {
        justify-content: space-between;
        margin-bottom: 148px;
    }

    .banner {
        min-height: 700px;
        padding-top: 38px;
    }

    .banner-title {
        margin-bottom: 35px;
    }
    .banner-descr {
        margin-bottom: 35px;
    }
    .banner-title {
        font-size: 52px;
    }
    .banner-descr {
        font-size: 24px;
    }
    .partners-section {
        margin: 0 auto;
        padding: 72px 0px 40px 0px;
    }
    .partners-list-item:nth-child(-n+2) {
        margin-bottom: 58px;
    }
    .partners-list {
        margin-bottom: 38px;
    }
    .partners-title {
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        background-image: url(../img/banners/banner1440.png);
    }

    .container {
        width: 940px;
    }

    .header {
        justify-content: space-between;
        margin-bottom: 148px;
    }

    .banner {
        min-height: 700px;
        padding-top: 38px;
    }

    .banner-title {
        margin-bottom: 35px;
    }
    .banner-descr {
        margin-bottom: 35px;
    }
    .banner-title {
        font-size: 52px;
    }
    .banner-descr {
        font-size: 24px;
    }

    .partners-section {
        padding: 68px 0px 74px 0px;
    }

    .partners-title {
        margin-bottom: 35px;
    }
}