:root {
    --title-font: "MontserratBold", sans-serif;
    --sub-title-font: "MontserratRegular", sans-serif;
    --text-font: "RobotoRegular", sans-serif;
    --white-color: #ffffff;
    --title-color: #333333;
    --pink-color: #f38181;
    --text-color: #999999;
    --link-bg-color: #fce38a;
    --aqua-color: #95e1d3;
}